{% load static %}
{% load staticfiles %}

<!DOCTYPE html>


<html>
<head>
	<title>Qbook Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
	<script type="text/javascript" src="{% static 'polls/js/jquery1-12-0.js' %}"></script>
	<script type="text/javascript" src="{% static 'polls/js/script.js' %}"></script>
 
</head>
<body>
		<div class="topbar">
			<div class="container">
				<div class="head">qbook</div>
			<div class="topbox"><input type="text" name="Quest" placeholder="Question" class="questionbox">
			<button type="submit" value="Search" class="topbutton">Search</button>
			<button type="submit" value="Ask" class="topbutton askbutton">Ask</button>
			</div>
			
		</div>
		</div>
		<div class="mainelement">
			<div class="container">
				<div class="questioncontent">
					<div class="content-title">Recent Questions</div>
					<div class="questiontext">
						<div class="questiontextcontent">
							{% if latest_poll_list %}
    							<ul>
    							{% for poll in latest_poll_list %}
									<li><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
									<p>something</p>
    							{% endfor %}
    							</ul>
							{% else %}
    							<p>No polls are available.</p>
							{% endif %}
						</div>
					<div class="questionauthor">
						<div class="questionauthorname">
							<div class="questionauthornamecontent">Howday Pouday</div>
						</div>
						<div class="questionviews">2k views</div>
					</div>
					<div class="answertext">
						<div class="answertextcontent">Engineering Economics is a blah with blah 
						 
						 </div>
						<div class="more_text">Economics is a blah with blah asfdsafsdagdsEngineering Economics is a blah with blah asfdsafsdagdsEngineering Economics is a blah with blah asfdsafsdagdsEngineering Economics is a blah with blah asfdsafsdagds</div>
						<a href="#" class="read_more">Read More</a><br/>
						<div class="answerauthor">
							<div class="answerauthorcontent">Khasi Chap</div>
							
								<input type="submit" value="Like" class="votebutton">
							
						</div>
					</div>
					</div>
				</div>
				<div class="rightpanel">
					<div class="content-title">Topics</div>
					<ul>
						<a href="#"><li>Physics</li></a>
						<a href="#"><li>Maths 1</li></a>
						<a href="#"><li>Comm Technique</li></a>
						<a href="#"><li>P.S.T</li></a>
					</ul>
				</div>	
			</div>
			
		</div>
	
</body>
</html>